{% extends "auctions/layout.html" %}
{% block body %}

{% for cat in categories %}

    
    <div class="flex-container">
        <h1>{{cat.category}}</h1>
        <ul>
            {% for list in listings %}
            {% if list.active and list.category == cat%}
                <div class="index-list"><a href="/listings/{{list.title}}">
                    <div class="parent">
                        <li><img src="{{list.picture_url}}" width="300px"></li>
                        <div>
                            <div class="mini-title">{{list.title}}</div>
                            {{list.description|truncatechars:255 }}
                        </div>
                    </div>
                    <div class="parent low">
                        <div class="low-text"> by: {{list.seller}}. - Starting price: {{list.price}} $ </div>
                        {% for bid in bids %}
                            {% if bid.listing == list and bid.top_bid == True%}
                                <div class="low-text"> --> Top Bid: {{bid.current_bid}} $ </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div></a>
            {% endif %}    
        {% endfor %}
        </ul>
    </div>
{% endfor %}

{% endblock body%}