{% extends "auctions/layout.html" %}

{% block title %}Create new listing{% endblock %}

{% block body %}
    <form action="{% url 'create' %}" method="post">
        <div class="flex-container">
            <h1>Create new listing</h1>
            <input name="title" type="text" placeholder="Title" class="medium-field" required>
            {% csrf_token %}
                <div class="parent">
                    <div class="flex-container create">
                        <input name="image-url" type="text" placeholder="Image URL" class="small-field">
                        <div class="parent" style="padding:0"> 
                            <h4>$</h4>
                            <input type="number" name="price" placeholder="Starting price" min="0" data-number-to-fixed="2" class="small-field" min="0" required>
                        </div>
                        <select name="category" class="small-field" style="font-size: 17px;">
                            <option disabled selected>Category</option>
                            {% for i in categories%}
                            <option value="{{i.category}}">{{i.category}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <textarea name="description" class="inputComment descr" onkeyup="textAreaAdjust(this)" placeholder="Item description" required></textarea>
                </div>
                {% if message %}
                <h6 class="messages bad" >{{message}}</h6>
                {% endif %}
                <div class="parent">
                    <input type="submit" name="create" class="std-button" value="Add Listing">
                </form>
                    <form action="{% url 'index' %}">
                        <input type="submit" name="cancel" class="grey-button" value="Cancel">
                    </form>
                </div>
            </div>
      
    <script>
        function textAreaAdjust(element) {
        element.style.height = "1px";
        element.style.height = (25+element.scrollHeight)+"px";
        }
    </script>

{% endblock body %}