{% extends "auctions/layout.html" %}

{% block body %}

    <h1 style="text-align:center;">Login</h1>

    {% if message %}
        <div class="text">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="flex-container">
            <input autofocus class="medium-field" type="text" name="username" placeholder="Username" maxlength="30">
            <input class="medium-field" type="password" name="password" placeholder="Password">
            <input class="yellow-button" type="submit" value="Login">
        </div>
        
    </form>

    <div class="parent">
        <div class="text" style="margin-top:15px">Don't have an account?</div> 
        <a href="{% url 'register' %}" style="margin-top:15px">Register here.</a>
    </div>

{% endblock %}