{% extends "auctions/layout.html" %}

{% block body %}

    <h1 style="text-align:center;">Register</h1>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="flex-container">
            <input class="form-control medium-field" autofocus type="text" name="username" placeholder="Username" maxlength="30">
            <input class="form-control medium-field" type="email" name="email" placeholder="Email Address">
            <input class="form-control medium-field" type="password" name="password" placeholder="Password">
            <input class="form-control medium-field" type="password" name="confirmation" placeholder="Confirm Password">
            <input class="yellow-button" type="submit" value="Register">
        </div>
        
    </form>

    <div class="parent">
            <div class="text" style="margin-top:15px">Already have an account?</div> 
            <a class="nav-link" href="{% url 'login' %}" style="margin-top:15px">Log In here.</a>
    </div>

{% endblock %}