{% extends "auctions/layout.html" %}

{% block item.title %}
    {% for item in desc%}
        {{item.title|safe}}
    {% endfor %}
{% endblock %}

    {% block body %}
        <div class="flex-container">
            {% for item in desc%}
            <div style="display:grid; text-align: center;">
                <h1>{{item.title}}</h1> 
                <div class="parent">
                    Seller: {{item.seller}}.
                    {% if user.is_authenticated and item.active %}
                        {% if not item.seller == user %}
                            <form action="{% url 'view' title=item.title %}" method="post"> 
                                {% csrf_token %}
                                {% if user in item.watching.all %} <!-- check for ManyToMany field-->
                                    <input type="submit" class="yellow-button" name="remove-watchlist-button" value="Remove from Watchlist">
                                {% else %}    
                                    <input type="submit" class="std-button" name="watchlist-button" value="Add to Watchlist">
                                {% endif %}
                            </form>
                        {% else %}
                            <form action="{% url 'view' title=item.title %}" method="post"> 
                                {% csrf_token %}    
                                <input type="submit" class="std-button" name="edit-button" value="Edit">
                            </form>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
            <div class="parent">
                <img class="view-img" src="{{item.picture_url}}">
                <div>
                    <div class="descr">{{item.description}}</div>
                    <div class="category"><a href="/categories/{{item.category}}"> Category: {{item.category}}</a></div>
                </div>
            </div>
                {% if item.active %}
                <div class="parent">
                    <div class="text"> Starting price: {{item.price}} $. </div>
                    {% for bid in bids %}
                        <div class="text"> {{bid.number_of_bids}} bid(s) made. </div>
                        <div class="text"> Top Bid: {{bid.current_bid}} $ </div>
                        <input type="hidden" id="top-bid" value="{{bid.current_bid}}">
                    {% empty %}
                    {% endfor %}
                </div>
                {% else %}
                    {% for bid in bids %}
                    <div class="text"> {{bid.number_of_bids}} bid(s) made. </div> 
                        <h4>Sold for: {{bid.current_bid}} $ </h4>
                        {% if bid.winner == user %}
                            <h5 class="message good">You won this auction!</h5>
                        {% endif %}
                    {% empty %}
                    {% endfor %}
                {% endif %}
            
        {% if user.is_authenticated and item.active %}
            <div class="parent">
                <div>
                    <form action="{% url 'view' title=item.title %}" method="post">
                        {% csrf_token %}
                    {% if not item.seller == user %}
                    $    
                    <input class="inputField" type="number" min="0" max="10000000" name="bid" placeholder="Your Bid"> 
                        <input type="submit" class="std-button bid-button" name="bid-button" value="Bid">
                    {% else %}
                    <div class="parent">
                        <div class="text">It's your item.</div> 
                        {% for bid in bids %}
                        <input type="submit" onclick="CloseAuction()" class="yellow-button" name="close-button" value="Close Auction">
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div>
                    {% if message%}
                    <h6 class="messages bad" style="text-align: center;">{{message}}</h6>
                    {% endif %}
                    {% if top == "yes"%} 
                        <h6 class="messages good"> Your bid is the highest</h6> 
                    {% endif %}
                </div>
            </div>
        {% endif %}
    
        <div class="parent-comment">
            <!--reversed comments list-->
            <div class="comment-list">
                {% for com in coms reversed %}

                    <div><strong>{{com.autor}} : </strong></div> 
                    <div class="comment"> {{com.text}} </div>

                {% endfor %}
            </div>
            {% if user.is_authenticated and item.active %}
            <div class="comment-container">
                <textarea onkeyup="textAreaAdjust(this)" class="inputComment" name="comment" class="comment-field" placeholder="Your comment" maxlength="500"></textarea>
                <input type="submit" class="grey-button" name="submit-comment" value="Comment">
            </form>
            </div>
            {% elif not user.is_authenticated %}
                <h6 class="messages bad">You're not authenticated. Login to bid and comment on that item.</h6>
            {% endif %}
        {% endfor %}
        
        </div>

<script>
    function textAreaAdjust(element) {
        element.style.height = "1px";
        element.style.height = (25+element.scrollHeight)+"px";
    }
    function CloseAuction() {
        const top_bid = document.querySelector('#top-bid').value;
        alert(`Closing auction! Top bid = $ ${top_bid}`);
    }
</script>

{% endblock body %}